header.login-header{ margin-top: -50px;font-family: sans-serif;}
header{background:#fff; border-bottom:1px #ccc solid; width:100%; float:left; margin-bottom:35px;}
header h3{margin:10px 0 5px;}
header .align{text-align:right;}
.input-group{width:100%; float:left; margin-bottom:15px;}

.control{width:50%; float:left;}
.password_sec{width:50%; float:right; text-align:right;}
.form-group{width:100%; float:left;}
.page-footer {
    border-top: 1px solid #e4e5e7;
    bottom: 0;
    font-size: 12px;
    height: 40px;
    left: 0;
    margin-bottom: 0;
    padding: 10px 15px 5px;
    position: fixed;
    right: 0;
    z-index: 1;
    background:#fff;
}
.page-footer .page-footer-version {
    display: inline-block;
    float: left;
    color: #8a8a8a;
}
.page-footer .page-footer-inner{
    float: right;
    color: #8a8a8a;
    text-align:right;
}
.input_adjust .input-group-addon{padding:12px;}
.input_adjust .form-control{height:42px;}
.panel-heading{padding:15px;}
.input_adjust .input-group .input-group-addon{border-top-left-radius: 4px; border-bottom-left-radius: 4px;border-top-right-radius: 0px; border-bottom-right-radius: 0px;  }
.margin-0{ margin: 0;}
.input_adjust .input-group .form-control { margin-left: -2px;border-top-left-radius: 0px; border-bottom-left-radius: 0px;border-top-right-radius: 4px; border-bottom-radius: 4px;  }
.input_adjust .input-group .form-control:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
}
@media only screen and (max-width: 767px) {
    header h3 {text-align:center;}
    header .align {text-align: center; margin:10px 0;}
}
.input_adjust fieldset{
    border:0; padding: 0; margin: 0;}
.panel-default > .panel-heading, .panel-default > .panel-footer {
    border-color: #ddd !important;
}
.input_adjust button.btn {border-radius: 6px; background: #337ab7;    border-color: #2e6da4;    padding: 10px 16px;font-size: 18px;}
.input_adjust button.btn:hover {
    color: #fff;
    background-color: #286090;
    border-color: #204d74;
}
.login-form {
    border-radius: 4px !important; border: 1px solid #ddd !important; overflow: hidden;}
.login-form .panel-heading {
    border-radius: 4px 4px 0 0;font-family: sans-serif;
}
.page-footer {font-family: sans-serif;}