body{ font-family: 'Raleway','Raleway-Light','Raleway-Medium' ,'Raleway-SemiBold'; font-size:13px; }
:hover {transition: all 0.8s ease 0s;}
<!--Text format-->
    h1, h2, h3, h4, h5, h6 { color:#000;}
h6, .h6 { font-size: 14px;}
h5 { font-size:16px !important;}
a {color: #0072bc;text-decoration: none;}
p a:hover {color: #005f9d;text-decoration: underline;}
a:hover {text-decoration: underline;}
.lighter-text{ color:#bbbbbb;}
.text-blue{ color:#0072bc !important;}
.text-yellow{ color:#f8c200 !important;}
.text-grey{ color:#68747a !important;}
small, .small {font-size: 11px; line-height:25px;}
.medium {font-size: 13px; line-height:25px;}
.font-md{ font-size:16px;}

/*Border*/
.no-bdr{ border:none !important;}
.bdr-btm{ border-bottom:1px solid #ddd;}
/*Background*/
.no-bg{ background:none !important; box-shadow:none !important;}
.light-blue-bg{ background:#edf2f4 !important;}
.grey-bg{ background:#acacac;}
/*Padding*/
.padding-0 { padding:0 !important ;}
.padding-btm-1x { padding-bottom: 10px;}
.padding-lft-0 { padding-left:0 !important;}
.padding-rgt-0 { padding-right:0 !important;}
.padding-top-1x{ padding-top:10px;}
.padding-rgt-2x{ padding-right:20px !important;}
.padding-lft-2x{ padding-left:20px !important;}
.padding-lft-1x{ padding-left:10px;}
.padding-top-5{ padding-top:5px;}
.padding-top-5x{ padding-top:50px;}
.form-horizontal .control-label {padding-top: 5px;}
/*Margin*/
.panel{ margin-bottom:15px;}
.margin-0{ margin:0 !important;}
.margin-lft-0{ margin-left:0 !important;}
.margin-top-1x{ margin-top:10px;}
/*Buttons*/
.btn-grey{ background:#acacac; color: #ffffff !important; border-color:000 !important;}
.btn-grey:hover{ background:#333 !important; color: #ffffff !important;}
.btn-red { background-color: #ed1c24;  border-color: #de0109; color: #ffffff !important;}
.btn-red:hover { background-color: #de0109;}
.btn{ margin-left:3px; font-size:13px;}
.btn-yellow{ background:#fec700; color:#000;}
button:hover.btn-yellow{ background:#000 !important; color:#fff !important;}
button.login-btn{ height:36px; line-height:36px; background:#fec700; color:#000; margin:0; border:none; border-radius:3px;transition: all 0.8s ease 0s;}
button.login-btn:hover{ background:#3a3f51; color:#fff; cursor:pointer;}
/*Background*/
.dark-blue-bg{ background:#3a3f51; color:#fff;}
.dark-blue-bg a{color:#fff !important; text-decoration:none;}
.dark-blue-bg a:hover{color:#fff; text-decoration:underline;}

<!--Mixed-->
    .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12{padding-left: 10px; padding-right: 10px;}
.col-md-2 p, .col-md-3 p, .col-md-4 p, .col-md-5 p, col-xs-12 p, col-xs-12 p{ padding-top:5px; margin:0;}
.hr{ width:100%; float:left; margin-bottom:10px; }
input.form-control{ padding:3px 10px; height:30px; line-height:30px;}
textarea.form-control{ padding:3px 10px; height:30px; line-height:24px;}
textarea.form-control:focus{ height:80px !important;}
select.form-control{ padding:3px 10px; height:30px; line-height:30px;}
.navi ul li{ font-size:13px;}
.navi ul li i.icon{ color:#564aa3;}
.navi ul li:hover i.icon{ color:#fec700;}
.navi ul li span.fa-stack{ color:#564aa3;font-size: 7px; width: 3em;margin-right:12px;}
.navi ul li:hover span.fa-stack{ color:#fec700;}
.row { margin-left: -10px; margin-right: -10px;}
.form-group { margin-bottom: 10px;}
.panel-heading span{ font-size:11px; font-weight:normal; color:#909090;}
.panel-heading span a{ color:#0072bc; font-size:14px; font-weight:normal !important;}
.panel-heading span a:hover{ color:#00568e; text-decoration:underline;}
.app-header-fixed .logo-mini{ display:none;}
.app-aside-folded .logo-lg{ display:none;}
.app-aside-folded .logo-mini{ display:block;}
.app-header-fixed .logo-mini{ display:none;}
.app-aside-folded .logo-lg{ display:none;}
.app-aside-folded .logo-mini{ display:block;}
.table-wrap{ width:100%; float:left; overflow-x:scroll;overflow:auto; border:1px solid #828282; border-radius:3px; padding:5px 0;}
.table-md{ width:100%; float:left; min-width:1000px;padding:0 5px;}
.table-lg{ width:100%; float:left; min-width:1200px;padding:0 5px;}
.table-sm{ width:100%; float:left; min-width:600px;padding:0 5px;}
.table-wrap table{ border-collapse: collapse; border:1px solid #333; padding-bottom:10px; }
.table-wrap table thead tr{ background:#1b97f3;}
.table-wrap table thead tr th{ line-height:30px; height:30px; padding:2px 3px; font-weight:normal; color:#fff;}
.table-wrap table tbody tr{ background:#fafafa; border-bottom:1px solid #ededed;}
.table-wrap table tbody tr:last-child{ border-bottom: none;}
.table-wrap table tbody tr:nth-child(odd){ background:#;}
.table-wrap table tbody tr:hover{ background:#d9ecfa;}
.table-wrap table tbody tr td{ line-height:18px; height:18px; padding:2px 3px;}
.table-wrap p{ padding:0 0 3px 0; margin:0; line-height:12px;}
.table-wrap table tr td:last-child{ border-right:none;}
.table-wrap table tr td a{ color: #0072bc; text-decoration:none;}
.table-wrap table tr td a i{ padding-right:5px;}
.table-wrap table tr td a:hover{ color: #00568e; text-decoration:underline;}
.table-wrap table tr td .radio input[type="radio"], .table-wrap table tr td .radio-inline input[type="radio"], .table-wrap table tr td  .checkbox input[type="checkbox"], .table-wrap table tr td .checkbox-inline input[type="checkbox"] { margin-left: -15px; margin-top: -10px;}
.table-wrap table tr.subtotal { background:#c5c5c5; background-color:#ececec;}
.table-wrap table tr.subtotal td { font-weight:bold; color:#000;}
.table-wrap table tr.nettotal td { font-weight:bold; color:#fff; font-family:Arial, Helvetica, sans-serif;}
.table-wrap .checkbox{ margin-bottom:0px; float:left;}
.table-wrap .checkbox label{ max-height:15px; min-height: 7px;}
.sm-input{ width:70px !important; float:left; height:24px; line-height:24px; padding:3px 10px;}
.table-no-bdr{ border:none !important;}
.table-no-bdr table{ border:none !important;}
.table-wrap table{ border-collapse: collapse; border:1px solid #c7c7c7; padding-bottom:10px; }
.table-wrap table tr{ background:#eaedec; border-bottom:1px solid #c7c7c7;}
.table-no-bdr-bg table tr td{ border:none !important; background:none !important; padding:2px 3px;}
.table-no-bdr-bg table tr th{ padding:2px 3px;}
.table-no-bdr-bg table tr { border:none !important; background:none !important;}
.table-wrap table tr.total{ background:#6f6f6f !important; color:#fff;}
.nav-tabs > li > a{ color: #0072bc;}
.btn { padding:7px 12px;}
.tab-content{ background:#fff; border:1px solid #dee5e7; float:left; width:100%; padding:10px 0; border-top:0;}
.grey-box{ width:100%; float:left; background:#fbfbfb; padding:10px; border:1px solid #dee5e7;}
.white-box{ width:100%; float:left; background:#fff; padding:10px; border:1px solid #dee5e7;}
.list-row{ width:100%; float:left; border-bottom:1px dashed #b2bdc1; margin:0 0 20px 0; padding:0 0 10px 0;}
.list-row p{ line-height:18px; font-size:13px; margin:0; padding:0;}
.list-row p a{color:#0072bc;}
.list-row p a:hover{color:#00568e; text-decoration:underline;}
.list-row p span{ padding-left:5px; color:#000;}
.list-head{ background:#f8f8f8; float:left; border:1px solid #d6d6d6; width:100%; margin:0 0 10px 0; position:relative;}
.list-head h4{ background:#d6d6d6; float:left; color:#565656; font-weight:normal; padding:4px 10px; margin:0;}
.list-head h5{color: #58666e; float:left; color:#565656; font-weight:normal; padding:3px 0; margin:3px 0 0 10px;}
.list-head h5 span{color: #000; padding-left:5px;}
.status{ float:right; border-bottom:2px solid #0072bc; color:#484848; font-size:14px; text-align:left; width: 100%; padding:4px 0 0 0; position:absolute; bottom:-27px; right:10px;}
.status span{ padding-left:5px; }
.product-img{ width:100%; float:left; text-align:center;}
.product-img img{ width:100%; max-width:77px;}
.list-action{ float:right; text-align:right;}
.list-action a{ padding:5px 5px 0 0; text-decoration:none; color:#5e5e5e; font-size:16px;}
.list-action a:hover{ color:#333; text-decoration:none;}
.status-active{ color:#000;}
.status-pending{ color:#0054a6;}
.status-cancel{ color:#ed1c24;}
.status-deactivate{ color:#f7941d;}
.btn-remove{ border:1px solid #ddd; background:#fff; text-align:center; line-height:14px; font-size:12px; width:16px; float:right;}
.btn-remove a{ color:#333; text-decoration:none;}
.btn-remove a:hover{ color:#000; text-decoration:none;}
.info-label{ font-size:13px; text-align:right; width:30%; margin:0; padding:0; line-height:18px; float:left;}
.info-desc{width:67%; padding:0; margin:0; float:right;font-size:13px; text-align:left; color:#333; line-height:18px;}
/*Collpase style*/
.caret-collapse{ }
.caret-collapse .panel-group{ margin-bottom:10px; }
.caret-collapse .panel-group .panel {border-radius: 0;  box-shadow: none; border-radius:4px; overflow:hidden; }
.caret-collapse .panel-default > .panel-heading {padding: 0; border-radius: 3px;  color: #fff; background-color: #3a3f51; border-color: #3a3f51;}
.caret-collapse .panel-title { font-size: 14px;display: block; padding: 7px 10px;text-decoration: none;}
.caret-collapse .more-less { float: left;padding: 0 10px 0 0;  color: #fff; }
.caret-collapse .panel-collapse{ margin-top:-1px; background:#fbfbfb;}
.caret-collapse .panel-body{ padding-bottom:0;}
.payment-overview .panel-heading{ padding:7px 10px;}
.payment-overview .panel-heading a span{ font-size:14px; font-weight:600;}
.payment-overview .panel-heading a span i{ color:#f8c200;}
ul.breadcrumb-custom{ text-align:right !important;}
ul.breadcrumb-custom li a{color:#0072bc}
.payment-tab .nav-tabs > li > a{ border:none !important;}
.payment-tab .nav-tabs > li.active > a, .payment-tab .nav-tabs > li.active > a:focus, .payment-tab .nav-tabs > li.active > a:hover{ border:none ; background:none; color:#333; position:relative;}
.payment-tab .nav-tabs li.active a:before{ position:absolute; left:39%; bottom:-26px;content: ""; color:#ddd; font-family:"FontAwesome"; font-size:31px;}
.payment-tab .nav-tabs li.active a:after{ position:absolute; left:40%; bottom:-21px;content: ""; color:#fff; font-family:"FontAwesome"; font-size:27px;}
.payment-tab .nav-tabs li:hover{ border:none; background:none;}
.payment-tab .nav-tabs li a:hover{ border:none; background:none;}
.payment-tab .tab-content{ border-top:1px solid #ddd; padding:20px 10px 10px 10px; }
.payment-tab .tab-content h3{ margin:5px 0 10px 0 ; }
.product-img{ text-align:center; width:100%;}
.product-img img{ text-align:center; border:1px solid #ddd;}
.inv-amount{ background: #f7f1db; border-radius:3px; float:left; width:100%; padding:10px 0; border:1px solid #f5edcf;}
.inv-amount-result{ background: #f7c203; border-radius:3px; float:left; width:100%; padding:10px 0; border:1px solid #e1b103;}
.inv-amount h6{ text-align:center; line-height:18px; margin:0; padding:0; font-weight:bold; color:#000;}
.inv-amount p{ text-align:center; line-height:18px; margin:0; padding:0; color:#0072bc;}
.inv-amount-result h6{ text-align:center; line-height:18px; margin:0; padding:0; font-weight:bold; color:#000;}
.inv-amount-result p{ text-align:center; line-height:18px; margin:0; padding:0; color:#fff;}
.sidebar p{ padding:0; line-height:16px; margin:0 0 5px 0; font-family:'Raleway-Light';}
.sidebar p span{ display:block; margin:0; padding:0; color:#000000;}
.sidebar h5{ margin-top:0;}
.modal-header{ padding-bottom:1px;}
.modal-footer{ padding-bottom:1px;}
.add-product-info{ width:100%; float:left;}
.add-product-info ul{ width:100%; float:left; margin:0; padding:0; list-style:none;}
.add-product-info ul li{ float:left; margin:0; padding:0 20px 0 0; list-style:none;}
.add-product-info ul li a{}

.src-list{ width:100%; float:left;}
.src-input{ width:100%; float:left;}
.src-input .hr{ margin-bottom:3px;}
.src-input .currency-label{ width:30% !important; float:left; margin:0; font-size:12px;}
.src-input .currecny-input{ width:70%; float:left;}
.src-input .currecny-input input{ width:100%; float:left; height:16px; line-height:16px; font-size:12px; margin:0; padding:1px 2px;}
.add-btn{ float:right; width:100%; text-align:right;}
.btn-primary{ background:#006; color:#fff; border:1px solid #00004d; margin-left:5px;}
.add-src{ display:none; float:left; width:100%;}
.add-btn{ text-align:right; float: right;}

.src-list{ width:100%; float:left; position:relative;}
.src-input{ width:100%; float:left;}
.src-input .hr{ margin-bottom:3px;}
.src-input .currency-label{ width:30% !important; float:left; margin:0; font-size:12px;}
.src-input .currecny-input{ width:70%; float:left;}
.src-input .currecny-input input{ width:100%; float:left; height:16px; line-height:16px; font-size:12px; margin:0; padding:1px 2px;}
.add-btn-price{ float:right; width:100%; text-align:right;}
.btn-secondary{ background:#ddd; color:#333; border:1px solid #eee;}
.btn-primary{ background:#006; color:#fff; border:1px solid #00004d; margin-left:5px;}
.add-src-price{ display:none; float:left; width:100%; max-width:300px; position:absolute; left:300px; top:-135px; background:#fff; border:1px solid #ddd; border-radius:3px; padding:10px; z-index:333;-webkit-box-shadow: 0px 1px 10px 3px rgba(0,0,0,0.65);-moz-box-shadow: 0px 1px 10px 3px rgba(0,0,0,0.65);box-shadow: 0px 1px 10px 3px rgba(0,0,0,0.65);}
.add-price-btn{ text-align:right; float: right;}
.table-custom-fields input{ width:100px;}
.table-custom-fields a{ margin:0 1px;}
.table-custom-fields td img{ width:100px;}
.rounded-box{ border:1px solid #ddd; border-radius:3px; padding:10px 10px 0 10px ;}

/*24-4-2017*/
button.btn-dashboard{ width:100%; float:left; text-align:center; padding:10px; border:1px solid #ddd; margin-bottom:15px; text-align:center; background:none;}
button.btn-dashboard:hover{float:left; text-align:center; background:#ebebeb;}
button.btn-selectd{background:#ebebeb;}
button.btn-dashboard span{ float:left; width: 100%; text-align:center; font-size:18px; color:#333; margin:10px 0; height:auto;}
button.btn-dashboard span img{ text-align:center; }
.customer-detail h5{ color:#0059fc;}
.customer-detail .box-data{padding:10px;min-height: 160px;}
.customer-detail .box-data-lg{padding:10px;min-height: 252px;}
.customer-detail .panel{ width:100%; float:left;}
.customer-detail .box-data ul{ margin:0; padding:0; width:100%; float: left;}
.customer-detail .box-data ul li{ line-height:20px; width:100%; color:#333; margin:0; padding:0 0 10px; list-style:none;}
.customer-detail .box-data ul li img{ padding-right:10px; float:left;}
.subscriptions ul{ margin:0; padding:0; width:100%; float:left;}
.subscriptions ul li{ margin:0; padding:0; width:100%; float:left; line-height:18px;}
.subscriptions ul li span{ margin:0; padding:0; float:left; color:#333; font-size:13px;}
.subscriptions ul li span.label{ margin:0; padding:0 20px 0 0; width:30%; float:left; min-width:150px; color:#68747a; text-align:right; font-weight:normal; line-height:20px;}
.rgt-btns{ float:right;}

.rgt-btns a{ padding:0 5px 0 0; color:#333 !important; text-decoration:none; float:left;}
.rgt-btns a.icon-edit{ padding-top:3px; font-size:18px;}
.rgt-btns a:hover{color:#000; text-decoration:none !important;}
.pwd-exclusions{ border:1px solid #ddd; padding:0 10px; width:100%; float:left; height:100px;overflow-y:scroll; overflow:auto; }
.pwd-btns{ float:left; text-align:center;}
.pwd-btns a{ padding:0 0 5px 0; color:#333; text-decoration:none;}
.pwd-btns a:hover{color:#000;}
.reset-pwd{ padding:5px 20px;}
button span.fa-sm{ padding:0 30px;}
.profile-pic{ width:34px; border-radius:50%; height:34px; text-align:center; overflow:hidden; margin:2px auto; border:1px solid #fec700;line-height: 29px;}
.profile-pic img{ width:100%;}
.profile-pic1{ width:34px; border-radius:50%; height:34px; text-align:center; overflow:hidden; margin:2px auto; border:1px solid #cccccc;line-height: 29px;}
.profile-pic1 img{ width:100%;}
.chosen-container-single, .chosen-single{ height:32px !important; line-height:32px !important;}
.check-droopdown{ float:left; padding-right:10px; margin-bottom:10px !important;}
form.bs-example button.btn{ box-shadow:none;}
form .check-droopdown .dropdown-toggle-btn{ border-top-left-radious:0 !important; border-bottom-left-radius:0; line-height:25px; height:31px; margin-left: -5px; width: 40px; border-left:none; }
.list-checkbox:hover, .dropdown-toggle-btn:hover{ background:none; box-shadow:none;}
.btn-default:hover, .btn-default:focus, .btn-default.focus, .btn-default:active, .btn-default.active, .open > .dropdown-toggle.btn-default{ background:none;}
.list-checkbox{float: left; padding: 6px 0 3px; text-align: center;width: 40px; border-right:none !important; margin-right:-2px; border-top-right-radious:0 !important; border-bottom-right-radius:0; box-shadow:none;}
.list-checkbox input[type="radio"], .list-checkbox input[type="checkbox"] {line-height: normal; margin: 1px 5px 0 0;}
.table-fancy{ border:none; border-radius:0px; padding:5px 0;}
.table-fancy table tbody tr td{ line-height:36px; height:36px;}
.customer-detail .form-group{ margin:0;}
a.chosen-single{ box-shadow:none !important;}
.chosen-container, .chosen-container-single, .chosen-container-active, .chosen-with-drop{border-color:#929292 !important;}
.chosen-container-single, .chosen-single{ box-shadow:none !important;}
.form-control:focus{ border-color:#cccccc;}
.form-control{ border-color:#cccccc;}
.custome-select{ height:30px; line-height:30px;padding: 3px 10px; border: 1px solid #ccc; border-radius:2px;}
.select-style { border: 1px solid #ccc; width: 100%; border-radius: 2px; overflow: hidden; background: #fff url(../images/img/icon-select.png) no-repeat 90% 50%;}
.select-style select { padding: 5px 8px; width: 130%;border: none;box-shadow: none;background: transparent;background-image: none;-webkit-appearance: none;}
.select-style select:focus { outline: none;}
.dropdown.dropdown-lg .dropdown-menu { margin-top: -1px; padding: 6px 20px;}
.input-group-btn .btn-group { display: flex !important;}
.btn-group .btn { border-radius: 0; margin-left: -1px;}
.btn-default:active, .btn-default.active, .open > .dropdown-toggle.btn-default{transition: all 0.1s ease 0s;}
/*Search bar*/
.dropdown.dropdown-lg .dropdown-menu { margin-top: -1px; padding: 6px 20px;}
.input-group-btn .btn-group { display: flex !important;}
.btn-group .btn { border-radius: 0; margin-left: -1px;}
.btn-group .btn:last-child { border-top-right-radius: 4px;border-bottom-right-radius: 4px;}
.btn-group .form-horizontal .btn[type="submit"] {border-top-left-radius: 4px;border-bottom-left-radius: 4px;}
.form-horizontal .form-group { margin-left: 0; margin-right: 0;}
.form-group .form-control:last-child { border-top-left-radius: 4px; border-bottom-left-radius: 4px;}
#adv-search .form-group{ margin:0 -15px 10px -15px }
#adv-search .input-group-addon{ background:#fff;}
#adv-search .dropdown-menu-right{ padding-top:20px;}
#adv-search .dropdown-menu-right .form-group .form-control:last-child{ border-radius:1px !important;}
.input-group .form-control:first-child, .input-group-addon:first-child, .input-group-btn:first-child > .btn, .input-group-btn:first-child > .btn-group > .btn, .input-group-btn:first-child > .dropdown-toggle, .input-group-btn:last-child > .btn:not(:last-child):not(.dropdown-toggle), .input-group-btn:last-child > .btn-group:not(:last-child) > .btn {border-radius: 0;}
#adv-search { width: 500px; margin: 0 auto; z-index:;}
.dropdown.dropdown-lg .dropdown-menu { width: 500px;}
#adv-search label.control-label{ text-align:right;}
#adv-search .btn{ padding:5px 12px 5px 12px;height: 30px;border-radius: 0px; box-shadow:none;}
@media screen and (min-width: 768px) {
    #adv-search .form-control{ border-color:#eee;}

    .dropdown.dropdown-lg { position: static !important;}
}
@media screen and (max-width: 991px) {
    #adv-search label.control-label {text-align: left;}
}

@media screen and (max-width: 640px) {
    #adv-search { width: 300px;}
    .dropdown.dropdown-lg .dropdown-menu { width: 300px;}
}
.menu-wrap{ position:relative;}
.dropdown-menu-position{ position:absolute; top:40px; left:-70px; width:170px;}
.dropdown-menu-position li{ width:100%; float:left;}
.dropdown-menu-position li a{ padding:6px 5px; width:100%; float:left;}
.popupunder-danger{
    width: 60%;
    background-color: rgba(244, 67, 54, 0.8) !important;
    border: 0;
    padding: 20px;
    position: fixed;
    top: 20px;
    left: 20%;
    right: 20%;
    z-index:99999999999;

}
.popupunder-success{
    width: 60%;
    background-color: rgba(98, 204, 32, 0.8) !important;
    border: 0;
    padding: 20px;
    position: fixed;
    top: 20px;
    left: 20%;
    right: 20%;
    z-index:99999999999;

}
.popupunder-danger-font{
    color: black;
}
.popupunder-success-font{
    color:black;
}
.popupunder-danger .close{
    font-size: 10px;
    position:absolute !important;
    right: 2px;
    top: 3px;
}
.popupunder-success .close{
    font-size: 10px;
    position:absolute !important;
    right: 2px;
    top: 3px;
}
.customer-action-icon{
    margin-right: 5px;
    margin-left: 5px;
    width: 20px;
}

#cust-created-date-from #datefrom .mydp{
    width: 305px !important;
}
#cust-created-date-to #dateto .mydp{
    width: 305px !important;
}

.edit-field{ display: none; }
.editable{ width:100%; float:left;}
.editable ul{}
.editable ul li{ float:left; width:100%;padding: 0 0 6px;}
.editable ul li span.icon{float: left; min-width: 28px; padding: 3px 0 0; text-align: center; width: 5%;}
.editable ul li span{ float:left; min-width:260px; width: 94%;}
.editable ul li span input.form-control{ width:210px; float:left;  margin-right:5px; height:24px;}
.editable ul li span.action-btn{ float:right;width:60px; text-align:right;}
.editable ul li span button{ height:24px; line-height:18px;}
.edit-name{
    padding-left: 19px;
    float: left;
    width:100%;
    margin-bottom: 10px;
}
.edit-name input.form-control{
    border-color:#0059fc;
    color:#0059fc;
    width: 210px;
    float: left;
    height: 24px;
    margin-right: 5px;
}
.edit-name-adm-pro{
    padding-left: 29px;
    float: left;
    width:100%;
    margin-bottom: 10px;
}
.edit-name-adm-pro input.form-control{
    border-color:#0059fc;
    color:#0059fc;
    width: 210px;
    float: left;
    height: 24px;
    margin-right: 5px;
}
.menu-wrap{ position:relative;}
.dropdown-menu-position{ position:absolute; top:40px; left:-70px; width:170px;}
.dropdown-menu-position li{ width:100%; float:left;}
.dropdown-menu-position li a{ padding:6px 5px; width:100%; float:left;}
.edit-field{ display: none; }
.editable{ width:100%; float:left;}
.editable ul{}
.editable ul li{ float:left; width:100%;padding: 0 0 6px;}
.editable ul li span.icon{float: left; min-width: 28px; padding: 3px 0 0; text-align: center; width: 5%;}
.editable ul li span{ float:left; min-width:260px; width: 94%;}
.editable ul li span input.form-control{ width:210px; float:left;  margin-right:5px; height:24px;}
.editable ul li span.action-btn{ float:right;width:60px; text-align:right;}
.editable ul li span button{ height:24px; line-height:8px;}
.profile-userpic { max-width:120px; min-width:100px; max-height:120px; width:150px; height:150px; float: none; margin: 0 auto; border-radius:50%; overflow:hidden; position:relative;}
.profile-userpic img {max-width: 100%; width:100%;}
.profile-userpic i {font-size: 13px; color:#fff; position: absolute; right: 10%; top: 70%; background:#000; border-radius:50%; padding:5px 6px; display:none;}
.profile-userpic:hover i{ display:block;}
.profile-usertitle-name {color: #0059fc;font-size: 20px;font-weight: 500;margin: 7px 0; text-align:center}
.profile-usertitle-job { color: #333;font-size: 13px; font-weight: 600; margin: 7px 0;text-transform: uppercase; text-align:center;}
.profile-userpic-sm{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
}

.danger-lbl{
    color:red;
}
.animated-loading{
    width:100%;
    text-align: center;
    margin:15% 0;
}
.app-aside-folded span.fa-stack{ display:block !important; margin-left:25px;}
.app-aside-folded span i.fa-stack-1x{ font-size: 7px !important; top:1px; left:4px;}
.billing-connection-loader-div{
    width:100%;
    text-align: center;
}

.dashboard{}
.dashboard .btn-icon{ width:20%; max-width:70px; float:left;}
.dashboard .btn-dashboard{ padding:0;}
.dashboard .btn-title{ width:70%;float:right; text-align:right; min-height:55px}
.dashboard .btn-desc{ width:100%; float:left; font-size:12px; margin-bottom:0; border-bottom:2px solid #fec700; text-align:left; background:#fee99d; color:#000; padding:5px 10px 1px 10px; min-height:46px;}
.dashboard .btn-desc span{ width:90%; float: left; margin: 0; padding: 0; font-size: 12px; text-align: left; line-height: 14px;}
.dashboard .btn-desc i{ float:right; width:10%; padding:1px 0 0 0; font-size:16px; color:#b59d47;transition: all 0.8s ease 0s; line-height:34px;}
.dashboard button.btn-dashboard:hover .btn-desc i{ color:#000;}
.reporting{}
.reporting .btn-icon{ width:20%; max-width:70px; float:left;}
.reporting .btn-dashboard{ padding:0;}
.reporting .btn-title{ width:70%;float:right; text-align:right;}
.reporting .btn-desc{ width:100%; float:left; font-size:12px; margin-bottom:0; border-bottom:2px solid #fec700; text-align:left; background:#fee99d; color:#000; padding:5px 10px; min-height:50px;}
.reporting .btn-desc i{ float:right; padding:1px 0 0 0; font-size:16px; color:#b59d47;transition: all 0.8s ease 0s;}
.reporting button.btn-dashboard:hover .btn-desc i{ color:#000;}
.reporting .col-lg-2, .reporting .col-md-3, .reporting .col-sm-6, .reporting .col-xs-12{ padding-left:5px; padding-right:5px;}
.reporting .btn-icon{ max-width:50px;}
.reporting .btn-icon img{ width:100%;}
.reporting .btn-title{ min-height:51px; margin-bottom:0;}
.reporting .button.btn-dashboard {margin-bottom:10px;}
.required-lft{ color:red; float:left;margin-right: 4px; margin-top: -5px;}

.activity-log { width:100%; float:left; margin:0; padding: 0;}
.activity-log ul{ width:100%; float:left; list-style:none; border-bottom:1px solid #ddd; width:100%; float:left; margin-bottom:10px; padding:10px 0;}
.activity-log ul li{ float:left; margin:0; padding:0 5px 0 0; list-style:none; color:#333;}
.activity-log ul li a{ text-decoration:none;}
.activity-log ul li a:hover{ text-decoration:underline; color:#01578e;}
.activity-log ul.all-likes{ background:#f6f6f6; width:100%; float:left; padding:3px 5px; border:1px solid #ddd; border-radius:3px; margin:10px 0 0 0;}
.activity-log ul li.user-pic{ width:24px; border-radius:50%; height:24px; text-align:center; overflow:hidden; background:#3b579d;line-height: 22px; padding:0; margin:-3px 7px 0 0;}
.activity-log ul li.user-pic img{ width:100%;}
.activity-log ul li.date{ display:block; width:100%; padding-left:30px; color:#90949c; font-size:12px;}
.bdr-left{border-left: 1px solid #dee5e7}
.pw-strength-wrap {
    position: relative;
    max-width: 360px;
    width: 100%;
    float: left;
}
.pw-strength { display:none;
    position: absolute;
    z-index: 999;
    width: 100%;
    float: left;
    border: 1px solid #aaaaaa;
    background: #fff;
    left: 15px;
    top: -183px !important;
    border-radius: 4px;
    padding:10px 0 0 0;
}
.pw-strength-wrap a{
    float: left;
    color: #58666e; font-size: 18px;
    text-decoration: none;
}
.pw-strength-wrap a:hover {
    color: #333;
    text-decoration: none;
}
.pw-strength ul {
    width: 100%;
    float: left;
    padding: 0;
}
.pw-strength ul li{ list-style:none; font-family:"Raleway","Raleway-Light","Raleway-Medium","Raleway-SemiBold"; padding: 0 !important;}
.pw-strength ul li span:last-child{ line-height: 20px;    width: 20% !important;
    max-width: 20px !important;
    min-width: 20% !important;
    word-wrap: break-word;
    float: left; }

.pw-strength ul li span.label{
    color: #68747a;
    float: left;
    font-weight: normal;
    line-height: 20px;
    margin: 0;
    font-size: 90%;
    min-width: 166px;
    padding: 0 20px 0 0;
    text-align: left;
    width: 80%;}
.pw-strength ul li span.pol-val {
    color: #333;
    float: left;
    font-size: 13px;
    margin: 0;
    padding: 0;
    width:20% !important;
    max-width: 20px !important;
    min-width: 20% !important; word-wrap: break-word;
}

#resetPassForm .pw-strength{    left: 578px; max-width: 350px; top: -56px !important;}
#resetPassForm  .pw-strength-wrap{ max-width: 100%;}
#resetPassForm .pw-strength ul li span.pol-val{ line-height: 20px;}
#editAdmForm .pw-strength{    left: 578px; max-width: 350px; top: -56px !important;}
#editAdmForm  .pw-strength-wrap{ max-width: 100%;}
#editAdmForm .pw-strength ul li span.pol-val{ line-height: 20px;}
.marg-right-md{
    margin-right: 5px;
}
.marg-left-md{
    margin-left: 5px;
}
.fade-loader-bg{
    background:rgba(0, 0, 0, 0.66); width: 100%; height: 100%; position: fixed; text-align: center; top:0; left:0; z-index: 999;
}
.fade-loader-bg i{
    margin:20% 0;
    font-size: 100px;
}
.funkyradio div {
    clear: both;
    overflow: hidden;
}

.funkyradio label {
    width: 100%;
    border-radius: 3px;
    border: 1px solid #D1D3D4;
    font-weight: normal;
}

.funkyradio input[type="radio"]:empty,
.funkyradio input[type="checkbox"]:empty {
    display: none;
}

.funkyradio input[type="radio"]:empty ~ label,
.funkyradio input[type="checkbox"]:empty ~ label {
    position: relative;
    line-height: 2.5em;
    text-indent: 3.25em;
    margin-top: 2em;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.funkyradio input[type="radio"]:empty ~ label:before,
.funkyradio input[type="checkbox"]:empty ~ label:before {
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    content: '';
    width: 2.5em;
    background: #D1D3D4;
    border-radius: 3px 0 0 3px;
}

.funkyradio input[type="radio"]:hover:not(:checked) ~ label,
.funkyradio input[type="checkbox"]:hover:not(:checked) ~ label {
    color: #888;
}

.funkyradio input[type="radio"]:hover:not(:checked) ~ label:before,
.funkyradio input[type="checkbox"]:hover:not(:checked) ~ label:before {
    content: '\2714';
    text-indent: .9em;
    color: #C2C2C2;
}

.funkyradio input[type="radio"]:checked ~ label,
.funkyradio input[type="checkbox"]:checked ~ label {
    color: #777;
}

.funkyradio input[type="radio"]:checked ~ label:before,
.funkyradio input[type="checkbox"]:checked ~ label:before {
    content: '\2714';
    text-indent: .9em;
    color: #333;
    background-color: #ccc;
}

.funkyradio input[type="radio"]:focus ~ label:before,
.funkyradio input[type="checkbox"]:focus ~ label:before {
    box-shadow: 0 0 0 3px #999;
}

.funkyradio-default input[type="radio"]:checked ~ label:before,
.funkyradio-default input[type="checkbox"]:checked ~ label:before {
    color: #333;
    background-color: #ccc;
}

.funkyradio-primary input[type="radio"]:checked ~ label:before,
.funkyradio-primary input[type="checkbox"]:checked ~ label:before {
    color: #fff;
    background-color: #337ab7;
}

.funkyradio-success input[type="radio"]:checked ~ label:before,
.funkyradio-success input[type="checkbox"]:checked ~ label:before {
    color: #fff;
    background-color: #5cb85c;
}

.funkyradio-danger input[type="radio"]:checked ~ label:before,
.funkyradio-danger input[type="checkbox"]:checked ~ label:before {
    color: #fff;
    background-color: #d9534f;
}

.funkyradio-warning input[type="radio"]:checked ~ label:before,
.funkyradio-warning input[type="checkbox"]:checked ~ label:before {
    color: #fff;
    background-color: #f0ad4e;
}

.funkyradio-info input[type="radio"]:checked ~ label:before,
.funkyradio-info input[type="checkbox"]:checked ~ label:before {
    color: #fff;
    background-color: #5bc0de;
}

button.select{
    background: #333333;
    color: #ffffff !important;
}
#editCustForm .pw-strength{    left: 578px; max-width: 350px; top: -56px !important;}
#editCustForm  .pw-strength-wrap{ max-width: 100%;}
#editCustForm .pw-strength ul li span.pol-val{ line-height: 20px;}

button.btn-dashboard{ margin-bottom:0 !important;}
.main-box { position:relative; margin:0 !important; overflow:hidden; width:100%; margin-bottom:15px !important; }
.lft-bdr {
    -webkit-transition:width .8s ease;
    -moz-transition:width .8s ease;
    -ms-transition:width .8s ease;
    -o-transition:width .8s ease;
    transition:width .8s ease;
    width:0px !important;height: 3px; background:#3a3f51; position:absolute; right:50%;  bottom:0; margin:0 !important;
}
.rgt-bdr {
    -webkit-transition:width .8s ease;
    -moz-transition:width .8s ease;
    -ms-transition:width .8s ease;
    -o-transition:width .8s ease;
    transition:width .8s ease;
    position:absolute;
    width: 0px !important;height: 3px;background: #3a3f51; position:absolute; left:50%; bottom:0; margin:0 !important;
}
.main-box:hover .lft-bdr {
    width:100% !important;
}
.main-box:hover .rgt-bdr  {
    width:100% !important;
}
