<div class="page-content-wrapper">
    <div class="page-content">
        <div class="row">
            <div class="col-md-12 col-xs-12">
                <div class="hr">
                    <h4 class="text-info">Organization</h4>
                </div>
                <div class="portlet-body">
                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a href="#tab_1_1" data-toggle="tab" aria-expanded="true"> Profile </a>
                        </li>
                        <li class="">
                            <a href="#tab_1_2" data-toggle="tab" aria-expanded="false"> General </a>
                        </li>
                        <li class="">
                            <a href="#tab_1_3" data-toggle="tab" aria-expanded="false"> Usage </a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane fade active in" id="tab_1_1">
                            <form action="#" id="form_sample_1" class="form-horizontal" novalidate>
                                <div class="form-body">
                                    <div class="row">
                                        <div class="col-md-7">
                                            <div class="form-group">
                                                <label class="control-label col-md-4">First Name
                                                    <span class="required" aria-required="true"> * </span>
                                                </label>
                                                <div class="col-md-8">
                                                    <input type="text" name="name" data-required="1" value="Khalid"
                                                           class="form-control"></div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-md-4">Last Name
                                                </label>
                                                <div class="col-md-8">
                                                    <input type="text" name="name" data-required="1" value="Khalid"
                                                           class="form-control"></div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-md-4">Company Name
                                                    <span class="required" aria-required="true"> * </span>
                                                </label>
                                                <div class="col-md-8">
                                                    <input type="text" name="name" data-required="1" value="Khalid"
                                                           class="form-control"></div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-md-4">Specialty
                                                </label>
                                                <div class="col-md-8">
                                                    <select class="form-control" name="select">
                                                        <option value="">Select...</option>
                                                        <option value="Category 1">Cardiologist</option>
                                                        <option value="Category 2">Cardiologist</option>
                                                        <option value="Category 3">Cardiologist</option>
                                                        <option value="Category 4">Cardiologist</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-md-4">Timezone
                                                </label>
                                                <div class="col-md-8">
                                                    <select class="form-control" name="select">
                                                        <option value="">Select...</option>
                                                        <option value="Category 1">(GMT-0500) US/Eastern</option>
                                                        <option value="Category 2">(GMT-0500) US/Eastern</option>
                                                        <option value="Category 3">(GMT-0500) US/Eastern</option>
                                                        <option value="Category 4">(GMT-0500) US/Eastern</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-md-4">Website
                                                </label>
                                                <div class="col-md-8">
                                                    <input name="home phone" type="text" value="" class="form-control">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-md-4">Home Phone
                                                </label>
                                                <div class="col-md-8">
                                                    <input name="home phone" type="text" value="" class="form-control">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-md-4">Office Phone
                                                </label>
                                                <div class="col-md-8">
                                                    <input name="home phone" type="text" value="(876) 785-6757"
                                                           class="form-control">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-md-4">Cell Phone
                                                </label>
                                                <div class="col-md-8">
                                                    <input name="home phone" type="text" value="(876) 785-6757"
                                                           class="form-control">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-md-4">Appointments Serial Start
                                                    <span class="required" aria-required="true"> * </span>
                                                </label>
                                                <div class="col-md-8">
                                                    <input type="text" name="name" data-required="1" value=""
                                                           class="form-control"></div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-md-4">Practice Business Logo
                                                </label>
                                                <div class="col-md-8">
                                                    <input type="file" id="exampleInputFile">
                                                    <p class="help-block"> Will be attached to emails & offical
                                                        forms </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="hr">
                                        <div class="col-md-12 text-center">
                                            <button type="button" class="btn blue"> Update Entire Profile</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="tab-pane fade" id="tab_1_2">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="hr"><h4 class="text-info">Calendar Settings</h4></div>
                                    <form action="#" id="form_sample_1" class="form-horizontal" novalidate>
                                        <div class="form-group">
                                            <label class="control-label col-md-3">Default Branch
                                                <span class="required" aria-required="true"> * </span>
                                            </label>
                                            <div class="col-md-5">
                                                <select class="form-control" name="select">
                                                    <option value="">Select...</option>
                                                    <option value="Category 1">Primary Office</option>
                                                    <option value="Category 2">Primary Office</option>
                                                    <option value="Category 3">Primary Office</option>
                                                    <option value="Category 4">Primary Office</option>
                                                </select></div>
                                            <div class="col-md-4">Default Branch on Calendar</div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3">Duration of Exam
                                                <span class="required" aria-required="true"> * </span>
                                            </label>
                                            <div class="col-md-5">
                                                <select class="form-control" name="select">
                                                    <option value="">Select...</option>
                                                    <option value="Category 1">Primary Office</option>
                                                    <option value="Category 2">Primary Office</option>
                                                    <option value="Category 3">Primary Office</option>
                                                    <option value="Category 4">Primary Office</option>
                                                </select></div>
                                            <div class="col-md-4">Default duration of an exam in minutes</div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3">Duration of Follow-up
                                            </label>
                                            <div class="col-md-5">
                                                <input type="text" name="name" data-required="1" value=""
                                                       class="form-control"></div>
                                            <div class="col-md-4">Default duration of a free folow-up exam in days</div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3">Appointment Default Color
                                            </label>
                                            <div class="col-md-5">
                                                <div class="minicolors box-width-size minicolors-theme-bootstrap minicolors-position-bottom minicolors-position-left minicolors-focus">
                                                    <input type="hidden" id="hidden-input" class="demo minicolors-input"
                                                           value="#e6e6e6" size="7">
                                                    <div class="minicolors-panel minicolors-slider-hue"
                                                         style="display: block;">
                                                        <div class="minicolors-slider minicolors-sprite">
                                                            <div class="minicolors-picker"
                                                                 style="top: 136.709px;"></div>
                                                        </div>
                                                        <div class="minicolors-opacity-slider minicolors-sprite">
                                                            <div class="minicolors-picker"></div>
                                                        </div>
                                                        <div class="minicolors-grid minicolors-sprite"
                                                             style="background-color: rgb(255, 136, 0);">
                                                            <div class="minicolors-grid-inner"></div>
                                                            <div class="minicolors-picker"
                                                                 style="top: 15px; left: 0px;">
                                                                <div></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="hr"><h4 class="text-info">Appointment Settings</h4></div>
                                        <div class="form-group no-margin no-padding">
                                            <label class="control-label label-lineheight col-md-3">Hide Patients Phone
                                                Numbers
                                            </label>
                                            <div class="col-md-9">
                                                <label class="mt-checkbox mt-checkbox-outline">
                                                    <input type="checkbox"> Hide patients phone number form the existing
                                                    patients list
                                                    <span></span>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="form-group no-margin no-padding">
                                            <label class="control-label label-lineheight col-md-3">Access to online
                                                scheduling
                                            </label>
                                            <div class="col-md-9">
                                                <label class="mt-checkbox mt-checkbox-outline">
                                                    <input type="checkbox"> Allows patinets to self-schedule
                                                    appointments via onpatient
                                                    <span></span>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="form-group no-margin no-padding">
                                            <label class="control-label label-lineheight col-md-3">Patent's Statement
                                                Balance
                                            </label>
                                            <div class="col-md-9">
                                                <label class="mt-checkbox mt-checkbox-outline">
                                                    <input type="checkbox"> Show patient's statement balance.
                                                    <span></span>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="form-group no-margin no-padding">
                                            <label class="control-label label-lineheight col-md-3">Patent's Current
                                                Balance
                                            </label>
                                            <div class="col-md-9">
                                                <label class="mt-checkbox mt-checkbox-outline">
                                                    <input type="checkbox"> Show patient's current balance.
                                                    <span></span>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="form-group no-margin no-padding">
                                            <label class="control-label label-lineheight col-md-3">Appointment Count
                                            </label>
                                            <div class="col-md-9">
                                                <label class="mt-checkbox mt-checkbox-outline">
                                                    <input type="checkbox"> Show patient's appointments count
                                                    <span></span>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="form-group no-margin no-padding">
                                            <label class="control-label label-lineheight col-md-3">Auto Appointment
                                                Reminders
                                            </label>
                                            <div class="col-md-9">
                                                <label class="mt-checkbox mt-checkbox-outline">
                                                    <input type="checkbox"> Enable to automatically choose the patient's
                                                    most recent reminders when scheduling appointments
                                                    <span></span>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="form-group no-margin no-padding">
                                            <label class="control-label label-lineheight col-md-3">Automated Patient
                                                Emails
                                            </label>
                                            <div class="col-md-9">
                                                <label class="mt-checkbox mt-checkbox-outline">
                                                    <input type="checkbox"> Automatically send emails to patients with
                                                    link to Patient Portal after next visit
                                                    <span></span>
                                                </label>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="hr">
                                <div class="col-md-12 text-center">
                                    <button type="button" class="btn blue"> Save</button>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="tab_1_3">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="hr"><h4 class="text-info">SMS / Email Messages</h4></div>
                                    <div class="table-scrollable tbl-brdr-radus">
                                        <table class="table table-hover table-light">
                                            <thead>
                                            <tr class="hedng-bck-clr tbl-pdng">
                                                <th> Feature</th>
                                                <th> Usage for this month</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr class="tbl-pdng off-wite-bg">
                                                <td>Total Appointments Auto SMS sent by system</td>
                                                <td>0</td>
                                            </tr>
                                            <tr class="tbl-pdng">
                                                <td>Total Appointments Auto SMS sent by system</td>
                                                <td>0</td>
                                            </tr>
                                            <tr class="tbl-pdng off-wite-bg">
                                                <td>Total Appointments Auto SMS sent by system</td>
                                                <td>0</td>
                                            </tr>
                                            <tr class="tbl-pdng">
                                                <td>Total Appointments Auto SMS sent by system</td>
                                                <td>0</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="hr">
                                <div class="col-md-12 text-center">
                                    <button type="button" class="btn blue"> Update Entire Profile</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>