<div class="page-content-wrapper">
    <div class="page-content">
        <div class="row">
            <div class="col-md-12 col-xs-12">
                <div class="hr">
                    <h4 class="text-info">Update Medical Services</h4>
                </div>
                <form id="editMSForm" #form="ngForm" class="form-horizontal">
                    <div class="form-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-3">Title
                                        <span class="required" aria-required="true"> * </span>
                                    </label>
                                    <div class="col-md-9">
                                        <input class="form-control" type="text" required
                                               [(ngModel)]="selectedMS.title"
                                               required pattern="^[a-zA-Z 0-9_-]{1,60}$"
                                               name="msTitle" #msTitle="ngModel"/>
                                    </div>
                                    <span *ngIf="msTitle.invalid && msTitle.touched"
                                          class="col-md-9 select pdng-lr-5 text-danger">
                                                Please enter valid title.
                                    </span>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3">Branch
                                        <span class="required" aria-required="true"> * </span>
                                    </label>
                                    <div class="col-md-9">
                                        <select class="form-control" name="branchDrp"
                                                [ngModelOptions]="{standalone:true}"
                                                [(ngModel)]="selectedMS.branchId">
                                            <option value="0">-- Select --</option>
                                            <option *ngFor="let item of branches; let i = index;"
                                                    value={{item.id}}>
                                                {{item.name}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3">Department
                                        <span class="required" aria-required="true"> * </span>
                                    </label>
                                    <div class="col-md-9">
                                        <select class="form-control" name="dptDrp"
                                                [ngModelOptions]="{standalone:true}"
                                                [(ngModel)]="selectedMS.dptId">
                                            <option value="0">-- Select --</option>
                                            <option *ngFor="let item of departments; let i = index;"
                                                    value={{item.id}}>
                                                {{item.name}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3">Service Cost
                                        <span class="required" aria-required="true"> * </span>
                                    </label>
                                    <div class="col-md-9">
                                        <input class="form-control" type="number"
                                               [(ngModel)]="selectedMS.cost"
                                               required pattern="^[0-9]{1,60}$"
                                               name="cost" #cost="ngModel"/>
                                    </div>
                                    <span *ngIf="cost.invalid && cost.touched"
                                          class="col-md-9 select pdng-lr-5 text-danger">
                                                Please enter valid cost.
                                    </span>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3">Service Fee
                                        <span class="required" aria-required="true"> * </span>
                                    </label>
                                    <div class="col-md-9">
                                        <input class="form-control" type="number"
                                               [(ngModel)]="selectedMS.fee"
                                               required pattern="^[0-9]{1,60}$"
                                               name="fee" #fee="ngModel"/>
                                    </div>
                                    <span *ngIf="fee.invalid && fee.touched"
                                          class="col-md-9 select pdng-lr-5 text-danger">
                                                Please enter valid fee.
                                    </span>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3">Service Tax
                                    </label>
                                    <div class="col-md-9">
                                        <select class="form-control" name="dptDrp"
                                                [ngModelOptions]="{standalone:true}"
                                                [(ngModel)]="selectedMS.taxId">
                                            <option value="0">-- Select --</option>
                                            <option *ngFor="let item of taxes; let i = index;"
                                                    value={{item.id}}>
                                                {{item.name}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3">Duration
                                    </label>
                                    <div class="col-md-8">
                                        <input class="form-control" type="number"
                                               [(ngModel)]="selectedMS.duration"
                                               required pattern="^[0-9]{1,60}$"
                                               name="duration" #duration="ngModel"/>
                                    </div>
                                    <div class="control-label col-md-1">
                                        Minutes
                                    </div>
                                    <span *ngIf="duration.invalid && duration.touched"
                                          class="col-md-9 select pdng-lr-5 text-danger">
                                                Please enter valid duration.
                                    </span>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3">Description
                                    </label>
                                    <div class="col-md-9">
                                        <textarea class="form-control" rows="3" title="" placeholder="Enter Description"
                                                  [(ngModel)]="selectedMS.description" maxlength="300"
                                                  name="description" #description="ngModel">
                                        </textarea>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">File Image</label>
                                    <div class="col-md-9">
                                        <!--<input type="file" id="exampleInputFile">-->
                                        <p class="help-block"> (Recommended: width 400px X height 300px) </p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3">Status
                                    </label>
                                    <div class="col-md-9">
                                        <label class="mt-checkbox mt-checkbox-outline chckbox">
                                            <input class="form-control" type="checkbox"
                                                   [(ngModel)]="selectedMS.status"
                                                   name="status" #status="ngModel"/>
                                            <span></span></label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="hr">
                            <div class="col-md-12 text-center">
                                <button type="button" (click)="updateMedicalServices(form)" class="btn blue"> Update
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>