<div class="page-content-wrapper">
    <div class="page-content">
        <div class="row">
            <div class="col-md-12 col-xs-12">
                <div class="hr">
                    <h4 class="text-info"> Nurse
                        <div class="pull-right">
                            <a routerLink="/dashboard/setting/nurse/add">
                                <button class="btn mt-sweetalert btn green-meadow" data-title="Sweet Alerts with Icons"
                                        data-message="Success Icon" data-type="success" data-allow-outside-click="true"
                                        data-confirm-button-class="btn-success"><i class="fa fa-plus"></i> New Nurse
                                </button>
                            </a>
                            <span><button class="btn btn-default btn-outline"> <i
                                    class=" icon-clock"></i> Print </button></span>
                        </div>
                    </h4>
                </div>
                <div class="">
                    <div class=" patient-profile hr portlet padding-10 light bordered view-pro">
                        <div class="col-md-3">
                            <div class="form-group font-siz11">
                                <label>Name:</label>
                                <input type="text" class="form-control" placeholder="Enter Name">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group font-siz11">
                                <label>Primary Branch</label>
                                <select class="form-control">
                                    <option>Select the Branch</option>
                                    <option>Select the Branch 1</option>
                                    <option>Select the Branch 2</option>
                                    <option>Select the Branch 3</option>
                                    <option>Select the Branch 4</option>
                                    <option>Select the Branch 5</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group font-siz11">
                                <label>Email:</label>
                                <input type="text" class="form-control" placeholder="Enter email">
                            </div>
                        </div>
                        <div class="col-md-1">
                            <div class="form-group mrgn-top24">
                                <button type="button" class="btn blue" (click)="showToaster()">Search</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="table-scrollable">
                    <table class="table table-striped table-hover table-checkable dataTable no-footer"
                           id="datatable_ajax" aria-describedby="datatable_ajax_info" role="grid">
                        <thead>
                        <tr role="row" class="heading">
                            <th width="12%" class="sorting_disabled" rowspan="1" colspan="1"> Name</th>
                            <th width="12%" class="sorting_disabled" rowspan="1" colspan="1"> Primary Branch</th>
                            <th width="64%" class="sorting_disabled" rowspan="1" colspan="1"> Email</th>
                            <th width="12%" class="sorting_disabled" rowspan="1" colspan="1"> Action</th>
                        </tr>
                        <tr role="row" class="filter">
                            <td rowspan="1" colspan="1">Khalid</td>
                            <td class="sorting_disabled" rowspan="1" colspan="1">Branch Name</td>
                            <td rowspan="1" colspan="1">asad@sadad.com</td>
                            <td rowspan="1" colspan="1">
                                <button class="btn btn-default btn-outline btn-sm"><i class="fa fa-info"></i></button>
                                <button class="btn btn-default btn-outline btn-sm"><i class="fa fa-pencil"></i></button>
                                <button class="btn btn-default btn-outline btn-sm"><i class="fa fa-remove"></i></button>
                            </td>
                        </tr>
                        <tr role="row" class="filter off-wite-bg">
                            <td rowspan="1" colspan="1">Khalid</td>
                            <td class="sorting_disabled" rowspan="1" colspan="1">Branch Name</td>
                            <td rowspan="1" colspan="1">asad@sadad.com</td>
                            <td rowspan="1" colspan="1">
                                <button class="btn btn-default btn-outline btn-sm"><i class="fa fa-info"></i></button>
                                <button class="btn btn-default btn-outline btn-sm"><i class="fa fa-pencil"></i></button>
                                <button class="btn btn-default btn-outline btn-sm"><i class="fa fa-remove"></i></button>
                            </td>
                        </tr>
                        <tr role="row" class="filter">
                            <td rowspan="1" colspan="1">Khalid</td>
                            <td class="sorting_disabled" rowspan="1" colspan="1">Branch Name</td>
                            <td rowspan="1" colspan="1">asad@sadad.com</td>
                            <td rowspan="1" colspan="1">
                                <button class="btn btn-default btn-outline btn-sm"><i class="fa fa-info"></i></button>
                                <button class="btn btn-default btn-outline btn-sm"><i class="fa fa-pencil"></i></button>
                                <button class="btn btn-default btn-outline btn-sm"><i class="fa fa-remove"></i></button>
                            </td>
                        </tr>
                        <tr role="row" class="filter off-wite-bg">
                            <td rowspan="1" colspan="1">Khalid</td>
                            <td class="sorting_disabled" rowspan="1" colspan="1">Branch Name</td>
                            <td rowspan="1" colspan="1">asad@sadad.com</td>
                            <td rowspan="1" colspan="1">
                                <button class="btn btn-default btn-outline btn-sm"><i class="fa fa-info"></i></button>
                                <button class="btn btn-default btn-outline btn-sm"><i class="fa fa-pencil"></i></button>
                                <button class="btn btn-default btn-outline btn-sm"><i class="fa fa-remove"></i></button>
                            </td>
                        </tr>
                        <tr role="row" class="filter">
                            <td rowspan="1" colspan="1">Khalid</td>
                            <td class="sorting_disabled" rowspan="1" colspan="1">Branch Name</td>
                            <td rowspan="1" colspan="1">asad@sadad.com</td>
                            <td rowspan="1" colspan="1">
                                <button class="btn btn-default btn-outline btn-sm"><i class="fa fa-info"></i></button>
                                <button class="btn btn-default btn-outline btn-sm"><i class="fa fa-pencil"></i></button>
                                <button class="btn btn-default btn-outline btn-sm"><i class="fa fa-remove"></i></button>
                            </td>
                        </tr>
                        <tr role="row" class="filter off-wite-bg">
                            <td rowspan="1" colspan="1">Khalid</td>
                            <td class="sorting_disabled" rowspan="1" colspan="1">Branch Name</td>
                            <td rowspan="1" colspan="1">asad@sadad.com</td>
                            <td rowspan="1" colspan="1">
                                <button class="btn btn-default btn-outline btn-sm"><i class="fa fa-info"></i></button>
                                <button class="btn btn-default btn-outline btn-sm"><i class="fa fa-pencil"></i></button>
                                <button class="btn btn-default btn-outline btn-sm"><i class="fa fa-remove"></i></button>
                            </td>
                        </tr>
                        <tr role="row" class="filter">
                            <td rowspan="1" colspan="1">Khalid</td>
                            <td class="sorting_disabled" rowspan="1" colspan="1">Branch Name</td>
                            <td rowspan="1" colspan="1">asad@sadad.com</td>
                            <td rowspan="1" colspan="1">
                                <button class="btn btn-default btn-outline btn-sm"><i class="fa fa-info"></i></button>
                                <button class="btn btn-default btn-outline btn-sm"><i class="fa fa-pencil"></i></button>
                                <button class="btn btn-default btn-outline btn-sm"><i class="fa fa-remove"></i></button>
                            </td>
                        </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>