<div class="page-content-wrapper">
    <div class="page-content">
        <div class="row">
            <div class="col-md-12 col-xs-12">
                <div class="hr">
                    <h4 class="text-info">Roles & Permissions
                        <div class="pull-right">
                            <a href="#responsive" data-toggle="modal">
                                <button class="btn mt-sweetalert btn green-meadow" data-title="Sweet Alerts with Icons"
                                        data-message="Success Icon" data-type="success" data-allow-outside-click="true"
                                        data-confirm-button-class="btn-success"><i class="fa fa-plus"></i> Add Roles
                                </button>
                            </a>
                            <span><a href="#responsive2" data-toggle="modal"><button class="btn blue"> <i
                                    class="fa fa-plus"></i> Add Permissions </button></a></span>
                        </div>
                    </h4>
                </div>
                <div class="">
                    <div class="patient-profile hr portlet padding-10 light bordered off-wite-bg">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="font-blue"><h4>Role</h4></label>
                                <select class="form-control">
                                    <option>Doctor</option>
                                    <option>Nurse</option>
                                    <option>Receptionist</option>
                                    <option>Cashier</option>
                                    <option>Option 5</option>
                                </select>
                            </div>
                        </div>
                        <div class="hr">
                            <label class="font-blue col-md-12"><h4>Permissions</h4></label>
                            <div class="col-md-3">
                                <div class="funkyradio">
                                    <div class="funkyradio-success">
                                        <input type="radio" name="radio" id="radio1">
                                        <label for="radio1">Create Admin</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="funkyradio">
                                    <div class="funkyradio-success">
                                        <input type="radio" name="radio" id="radio2">
                                        <label for="radio2">Create Doctor</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="funkyradio">
                                    <div class="funkyradio-success">
                                        <input type="radio" name="radio" id="radio3">
                                        <label for="radio3">Create Appointment</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="funkyradio">
                                    <div class="funkyradio-success">
                                        <input type="radio" name="radio" id="radio4">
                                        <label for="radio4">Manage Permissions</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="funkyradio">
                                    <div class="funkyradio-success">
                                        <input type="radio" name="radio" id="radio5">
                                        <label for="radio5">Create Admin</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="funkyradio">
                                    <div class="funkyradio-success">
                                        <input type="radio" name="radio" id="radio6">
                                        <label for="radio6">Create Doctor</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="funkyradio">
                                    <div class="funkyradio-success">
                                        <input type="radio" name="radio" id="radio7">
                                        <label for="radio7">Create Appointment</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="funkyradio">
                                    <div class="funkyradio-success">
                                        <input type="radio" name="radio" id="radio8">
                                        <label for="radio8">Manage Permissions</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="text-center mrgn-top14">
                                    <button type="button" class="btn blue">Save</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--btn div-->
                    <div>
                        <button mat-fab (click)="Clear()">clear()</button>
                        <button mat-fab color="primary" (click)="Success()">success</button>
                        <button mat-fab color="accent" (click)="Error()">Error</button>
                        <button mat-fab color="warn" (click)="Warn()">Warn</button>

                    </div>
                    <!--end btn div-->
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <!--Start Modal-->
    <div id="responsive" class="modal fade" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title">Add Roles</h4>
                </div>
                <div class="modal-body">
                    <div class="scroller" style="height:300px" data-always-visible="1" data-rail-visible1="1">
                        <div class="row">
                            <div class="form-group hr">
                                <label class="col-md-5 control-label txt-size pdng-lr-5">Branch <span class="required"
                                                                                                      aria-required="true"> * </span></label>
                                <div class="col-md-7 select pdng-lr-5">
                                    <select class="form-control">
                                        <option>Option 1</option>
                                        <option>Option 2</option>
                                        <option>Option 3</option>
                                        <option>Option 4</option>
                                        <option>Option 5</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group hr">
                                <label class="col-md-5 control-label txt-size pdng-lr-5">Department Name <span
                                        class="required" aria-required="true"> * </span></label>
                                <div class="col-md-7 select pdng-lr-5">
                                    <input type="text" class=" form-control">
                                </div>
                            </div>
                            <div class="form-group hr">
                                <label class="col-md-5 pdng-lr-5 control-label txt-size">Description</label>
                                <div class="col-md-7 select pdng-lr-5">
                                    <textarea class="form-control" rows="3"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="btn blue">Save</button>
                </div>
            </div>
        </div>
    </div>
    <!--End of Modal-->
    <!--Start Modal-->
    <div id="responsive2" class="modal fade" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title">Add Permissions</h4>
                </div>
                <div class="modal-body">
                    <div class="scroller" style="height:300px" data-always-visible="1" data-rail-visible1="1">
                        <div class="row">
                            <div class="form-group hr">
                                <label class="col-md-5 control-label txt-size pdng-lr-5">Branch <span class="required"
                                                                                                      aria-required="true"> * </span></label>
                                <div class="col-md-7 select pdng-lr-5">
                                    <select class="form-control">
                                        <option>Option 1</option>
                                        <option>Option 2</option>
                                        <option>Option 3</option>
                                        <option>Option 4</option>
                                        <option>Option 5</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group hr">
                                <label class="col-md-5 control-label txt-size pdng-lr-5">Department Name <span
                                        class="required" aria-required="true"> * </span></label>
                                <div class="col-md-7 select pdng-lr-5">
                                    <input type="text" class=" form-control">
                                </div>
                            </div>
                            <div class="form-group hr">
                                <label class="col-md-5 pdng-lr-5 control-label txt-size">Description</label>
                                <div class="col-md-7 select pdng-lr-5">
                                    <textarea class="form-control" rows="3"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="btn blue">Save</button>
                </div>
            </div>
        </div>
    </div>
    <!--End of Modal-->
</div>