<div class="page-sidebar-wrapper">
    <div class="page-sidebar navbar-collapse collapse">
        <div class="menu-toggler sidebar-toggler menu-stng"><span></span></div>
        <ul class="page-sidebar-menu  page-header-fixed" data-keep-expanded="false" data-auto-scroll="true"
            data-slide-speed="200">
            <li class="sidebar-toggler-wrapper hide">
                <div class="sidebar-toggler"><span></span></div>
            </li>
            <li class="nav-item" routerLinkActive="active open"><a routerLink="branch" class="nav-link"> <i
                    class=" icon-users"></i> <span class="title">Branch</span> </a></li>

            <li class="nav-item" routerLinkActive="'active nav-link'"><a routerLink="department"> <i class="icon-users"></i> <span
                    class="title">Department</span> </a></li>

            <li class="nav-item" routerLinkActive="active nav-link"><a routerLink="doctor"> <i class="icon-users"></i> <span
                    class="title">Doctor</span> </a></li>

            <li class="nav-item" routerLinkActive="active"><a routerLink="nurse"> <i class=" icon-users"></i> <span
                    class="title">Nurse</span> </a></li>

            <li class="nav-item" routerLinkActive="active"><a routerLink="cashier"> <i class=" icon-calendar"></i> <span
                    class="title">Cachier</span> </a></li>

            <li class="nav-item" routerLinkActive="active"><a routerLink="receptionist" class="nav-link"> <i
                    class="icon-home"></i> <span
                    class="title">Receptionist</span> </a></li>

            <li class="nav-item" routerLinkActive="active"><a routerLink="icd" class="nav-link"> <i
                    class="icon-docs"></i> <span
                    class="title">ICD</span> </a></li>

            <li class="nav-item" routerLinkActive="active"><a routerLink="medicalservices" class="nav-link"> <i
                    class="icon-list"></i> <span
                    class="title">Medical Services</span> </a></li>
            <li class="nav-item" routerLinkActive="active"><a routerLink="role-permissions" class="nav-link"> <i
                    class="icon-list"></i> <span
                    class="title">Roles & Permissions</span> </a></li>

        </ul>
    </div>
</div>