<div class="page-content-wrapper">
    <div class="page-content">
        <div class="row">
            <div class="col-md-12 col-xs-12">
                <div class="hr">
                    <h4 class="text-info"> </h4>

                </div>

                <form [formGroup]="userForm"  class="form-horizontal">
                    <!-- (ngSubmit)="addData(userForm.value)"-->
                    <div class="form-body">
                        <div class="row">

                        </div>
                        <div class="row">
                            <div class="col-md-6">


                                <div class="form-group">

                                    <label class="control-label col-md-4">First Name
                                        <span class="required" aria-required="true"> * </span>
                                    </label>
                                    <div class="col-md-8">
                                        <input type="text"  formControlName="firstName" data-required="1"
                                               class="form-control">
                                        <span class="text-danger" *ngIf="userForm.controls['firstName'].invalid && userForm.controls['firstName'].touched">{{firstNameError}}</span>
                                        <!-- <app-field-error-display [displayError]="isFieldValid('firstName')" errorMsg="Name is required">
                                         </app-field-error-display>-->
                                    </div>

                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-4">Last Name
                                    </label>
                                    <div class="col-md-8">
                                        <input formControlName="lastName" type="text" class="form-control"></div>
                                </div>

                                <div class="form-group" >
                                    <label class="control-label col-md-4">Username
                                        <span class="required" aria-required="true"> * </span>
                                    </label>
                                    <div class="col-md-8">
                                        <input type="text" formControlName="userName" class="form-control">
                                        <span class="text-danger" *ngIf="!userForm.controls['userName'].valid && userForm.controls['userName'].touched">
                                           <span *ngIf="userForm.controls['userName'].errors.minlength"> minimum 4 charachters</span>
                                           <span *ngIf="userForm.controls['userName'].errors.required">{{userNameError}} </span>
                                          <span *ngIf="userForm.controls['userName'].errors.pattern">User name not valid</span>
                                        </span>
                                        <!--<app-field-error-display [displayError]="isFieldValid('userName')" errorMsg="user name is required">
                                        </app-field-error-display>-->
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-4">Primary Branch
                                        <span class="required" aria-required="true"> * </span>
                                    </label>
                                    <div class="col-md-8">

                                        <select class="form-control" (change)="getBranch($event.target.value)"  formControlName="primaryBranch" placeholder="Select Branch">
                                            <option value="primary">Primary</option>
                                            <option value="lahore">Lahore</option>
                                            <option value="karachi">Karachi</option>

                                        </select>
                                        <span class="text-danger" *ngIf="!userForm.controls['primaryBranch'].valid &&  userForm.controls['primaryBranch'].touched">Select Primary Branch</span>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-4">Email Address
                                        <span class="required" aria-required="true"> * </span>
                                    </label>
                                    <div class="col-md-8">
                                        <input type="email" formControlName="email"
                                               class="form-control">
                                        <span class="text-danger" *ngIf="!userForm.controls['email'].valid && userForm.controls['email'].touched">{{emailError}}</span>

                                    </div>
                                </div>
                                <div class="form-group" >
                                    <label class="control-label col-md-4">Restrict Branches
                                        <span class="required" aria-required="true"> * </span>
                                    </label>
                                    <div class="col-md-8">
                                        <div class="checkbox-box" id="not-due">
                                            <address><label class="mt-checkbox mt-checkbox-outline">
                                                <div *ngFor="let item of RestrictBranch">
                                                    <input type="checkbox" formControlName="restrictBranch"
                                                           name={{item.name}}
                                                           value="{{item.id}}"
                                                           (change)="selectRestrictBranch($event,item)">
                                                    {{item.name}}

                                                </div>
                                            </label>
                                            </address>
                                        </div>
                                        <span class="text-danger" *ngIf="!userForm.controls['restrictBranch'].valid && userForm.controls['restrictBranch'].touched">{{restrictBranchError}}</span>

                                    </div>
                                </div>
                                <div  class="form-group">
                                    <label class="control-label col-md-4">Department
                                        <span class="required" aria-required="true"> * </span>
                                    </label>
                                    <div class="col-md-8">
                                        <div class="checkbox-box" id="not-due">
                                            <address><label>
                                                <div *ngFor="let item of departmentList">
                                                    <input type="checkbox" formControlName="departmentControl"
                                                           name={{item.name}}
                                                           value="{{item.id}}"
                                                           (change)="selectDepartment($event,item)">
                                                    {{item.name}}

                                                    <span></span>
                                                </div>

                                            </label>
                                            </address>
                                        </div>
                                        <span class="text-danger" *ngIf="!userForm.controls['departmentControl'].valid && userForm.controls['departmentControl'].touched">select atleast one department </span>
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-6">


                                <div class="form-group">
                                    <label class="control-label col-md-4">Home Phone
                                    </label>
                                    <div class="col-md-8">
                                        <input formControlName="homePhone" type="text"
                                               class="form-control">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-4">Cell Phone
                                    </label>
                                    <div class="col-md-8">
                                        <input formControlName="cellPhone" type="text"
                                               class="form-control">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-4 col-xs-6">Send daily billing report?</label>
                                    <div class="col-md-8 col-xs-6">
                                        <label class="mt-checkbox mt-checkbox-outline chckbox">
                                            <input type="checkbox" formControlName="sendBillingReport"
                                                   class=""><span></span></label>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-4 col-xs-6">Use Recept Dashboard?</label>
                                    <div class="col-md-8 col-xs-6">
                                        <label class="mt-checkbox mt-checkbox-outline chckbox">
                                            <input type="checkbox"
                                                   formControlName="useReceptDashboard"><span></span></label>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-4 col-xs-6">Other Doctor Dashboard?</label>
                                    <div class="col-md-8 col-xs-6">
                                        <label class="mt-checkbox mt-checkbox-outline chckbox">
                                            <input type="checkbox" formControlName="otherDoctorDashBoard"><span></span>
                                            <select class="form-control" formControlName="otherDashboard">
                                                <option value="">Select...</option>
                                                <option value="Category 1">Doctor</option>
                                                <option value="Category 2">Doctor</option>
                                                <option value="Category 3">Doctor</option>
                                                <option value="Category 4">Doctor</option>
                                            </select>
                                        </label>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-4 col-xs-6">Account Expiry
                                    </label>
                                    <div class="col-md-8 col-xs-6">
                                        <input type="text" formControlName="accountExpiry" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-4 col-xs-6">Active
                                    </label>
                                    <div class="col-md-8 col-xs-6">
                                        <label class="mt-checkbox mt-checkbox-outline chckbox">
                                            <input type="checkbox" formControlName="active"><span></span></label>
                                    </div>
                                </div>



                            </div>
                        </div>
                        <div class="row">
                           <!-- <div class="col-md-6">


                            </div>-->

                        </div>
                        <div class="col-md-6">

                            <div  class="form-group">
                                <label class="control-label col-md-4">Duty with Doctor
                                    <span class="required" aria-required="true"> * </span>
                                </label>
                                <div class="col-md-8">
                                    <div class="checkbox-box" id="not-due">
                                        <address><label class="mt-checkbox mt-checkbox-outline">
                                            <div *ngFor="let item of doctorsList">
                                                <input type="checkbox" formControlName="nurseDutyWithDoctor"
                                                       name={{item.name}}
                                                       value="{{item.id}}"
                                                       (change)="dutyWithDoctor($event,item)">
                                                {{item.name}}

                                                <span></span></div>
                                        </label>
                                        </address>
                                    </div>
                                    <span class="text-danger" *ngIf="!userForm.controls['nurseDutyWithDoctor'].valid && userForm.controls['nurseDutyWithDoctor'].touched">please select Doctor </span>
                                </div>
                            </div>

                            <div  class="form-group">
                                <label class="control-label col-md-4 col-xs-6">Manage Patients Records</label>
                                <div class="col-md-8 col-xs-6">
                                    <label class="mt-checkbox mt-checkbox-outline chckbox">
                                        <input type="checkbox" formControlName="managePatientRecords" class=""><span></span></label>
                                </div>
                            </div>
                            <div  class="form-group">
                                <label class="control-label col-md-4 col-xs-6">Manage Patients Invoices</label>
                                <div class="col-md-8 col-xs-6">
                                    <label class="mt-checkbox mt-checkbox-outline chckbox">
                                        <input type="checkbox" formControlName="managePatientInvoices"><span></span></label>
                                </div>
                            </div>



                        </div>
                        <div class="hr">
                            <div class="col-md-12 text-center">
                                <button (click)="addUser(userForm.value)" class="btn blue"><i class="fa fa-plus"></i> Create
                                </button>
                                <button (click)="cancel()" class="btn default"><i class="fa fa-cancel"></i> Cancel
                                </button>

                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>



</div>
