<div class="page-container">
    <div class="page-sidebar-wrapper">
        <div class="page-sidebar navbar-collapse collapse">
            <ul class="page-sidebar-menu  page-header-fixed" data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
                <li class="sidebar-toggler-wrapper hide">
                    <div class="sidebar-toggler"> <span></span> </div>
                </li>
                <li class="nav-item start active open"> <a href="demographics.html" class="nav-link"> <i class=" icon-users"></i> <span class="title">Demographics</span> </a> </li>
                <li class="nav-item"> <a href="appointments.html" class="nav-link"> <i class=" icon-calendar"></i> <span class="title">Appointments</span> </a> </li>
                <li class="nav-item"> <a href="clinical-dashboard.html" class="nav-link"> <i class=" icon-home"></i> <span class="title">Clinical Dashboard</span> </a> </li>
                <li class="nav-item"> <a href="documents.html" class="nav-link"> <i class="icon-docs"></i> <span class="title">Documents</span> </a> </li>
                <li class="nav-item"> <a href="problems-list.html" class="nav-link"> <i class="icon-list"></i> <span class="title">Problems list</span> </a> </li>
                <li class="nav-item"> <a href="medical-list.html" class="nav-link"> <i class="icon-list"></i> <span class="title">Medical List </span> </a> </li>
                <li class="nav-item"> <a href="allergy-list.html" class="nav-link"> <i class="icon-list"></i> <span class="title">AllergyList</span> </a> </li>
                <li class="nav-item"> <a href="lab-orders.html" class="nav-link"> <i class=" icon-check"></i> <span class="title">Lab Orders</span> </a> </li>
                <li class="nav-item"> <a href="onpatient-access.html" class="nav-link"> <i class="icon-user"></i> <span class="title">Onpatient Access</span> </a> </li>
                <li class="nav-item"> <a href="communication.html" class="nav-link"> <i class=" icon-call-in"></i> <span class="title">Communication</span> </a> </li>
                <li class="nav-item"> <a href="family-history.html" class="nav-link"> <i class=" icon-doc"></i> <span class="title">Family History</span> </a> </li>
            </ul>
        </div>
    </div>
    <div class="page-content-wrapper">
        <div class="page-content" style="min-height: 499px;">
            <div class="row">
                <div class="col-md-12 col-xs-12">
                    <div class="hr"><h3 class="text-info">Doctor Dashboard</h3></div>
                    <div class="hr padding round-table off-wite-bg">
                        <div class="col-md-9 no-padding">
                            <h4 class="font-green-meadow">Show Appointments with Statuses:</h4>
                            <div class="form-group">
                                <div class="mt-checkbox-inline">
                                    <label class="mt-checkbox mt-checkbox-outline txt-size-mrgn">
                                        <input type="checkbox" id="Arrived8" value="Arrived"> Arrived
                                        <span></span>
                                    </label>
                                    <label class="mt-checkbox mt-checkbox-outline txt-size-mrgn">
                                        <input type="checkbox" id="Checked In7" value="Checked In"> Checked In
                                        <span></span>
                                    </label>
                                    <label class="mt-checkbox mt-checkbox-outline txt-size-mrgn">
                                        <input type="checkbox" id="Arrived6" value="Arrived"> In Room
                                        <span></span>
                                    </label>
                                    <label class="mt-checkbox mt-checkbox-outline txt-size-mrgn">
                                        <input type="checkbox" id="Checked In5" value="Checked In"> In Session
                                        <span></span>
                                    </label>
                                    <label class="mt-checkbox mt-checkbox-outline txt-size-mrgn">
                                        <input type="checkbox" id="Arrived4" value="Arrived"> Complete
                                        <span></span>
                                    </label>
                                    <label class="mt-checkbox mt-checkbox-outline txt-size-mrgn">
                                        <input type="checkbox" id="Checked In3" value="Checked In"> Confirmed
                                        <span></span>
                                    </label>
                                    <label class="mt-checkbox mt-checkbox-outline txt-size-mrgn">
                                        <input type="checkbox" id="Arrived2" value="Arrived"> Not Confirmed
                                        <span></span>
                                    </label>
                                    <label class="mt-checkbox mt-checkbox-outline txt-size-mrgn">
                                        <input type="checkbox" id="Checked In1" value="Checked In"> Cancelled
                                        <span></span>
                                    </label>
                                </div>
                            </div>
                            <div class="">
                                <span class="slct-txts"><a href="#">Select All</a></span>
                                <span class="slct-txts"><a href="#">Select None</a></span>
                            </div>
                        </div>
                        <div class="col-md-3 no-padding">
                            <div class="">
                                <h4 class="font-green-meadow">Branch</h4>
                                <select class="form-control">
                                    <option>Primary Office 1</option>
                                    <option>Primary Office 2</option>
                                    <option>Primary Office 3</option>
                                    <option>Primary Office 4</option>
                                    <option>Primary Office 5</option>
                                </select>
                            </div>
                            <div class="">
                                <h4 class="font-green-meadow">Doctor</h4>
                                <select class="form-control">
                                    <option>Select Doctor 1</option>
                                    <option>Select Doctor 2</option>
                                    <option>Select Doctor 3</option>
                                    <option>Select Doctor 4</option>
                                    <option>Select Doctor 5</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="table-scrollable tbl-brdr-radus">
                        <table class="table table-hover table-light">
                            <thead>
                            <tr class="hedng-bck-clr tbl-pdng">
                                <th> File # </th>
                                <th> In </th>
                                <th> In Time </th>
                                <th> Branch </th>
                                <th> Patient Name </th>
                                <th> Group </th>
                                <th> Scheduled at </th>
                                <th> Doctor </th>
                                <th> Exame Room </th>
                                <th> Status </th>
                                <th> Cashier Name </th>
                                <th> Action </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr class="tbl-pdng">
                                <td>1232</td>
                                <td><div class="mt-action-dot bg-green-meadow"></div></td>
                                <td>12:32</td>
                                <td>Primary Branch</td>
                                <td>Tahir</td>
                                <td>General</td>
                                <td><a href="#" class="font-blue"></a><a href="#" class="font-blue">1/14/18 11:00 AM</a></td>
                                <td>Jamal</td>
                                <td>Exam 2</td>
                                <td><select class="form-control">
                                    <option>Arrived</option>
                                    <option>Checked In</option>
                                    <option>In Room</option>
                                    <option>In Session</option>
                                    <option>Complete</option>
                                    <option>Not Confirmed</option>
                                </select></td>
                                <td>Farooq</td>
                                <td>Jamal</td>
                            </tr>
                            <tr class="tbl-pdng off-wite-bg">
                                <td>1232</td>
                                <td><span class="mt-action-dot bg-gray-meadow"></span></td>
                                <td>12:32</td>
                                <td>Primary Branch</td>
                                <td>Tahir</td>
                                <td>General</td>
                                <td><a href="#" class="font-blue">1/14/18 11:00 AM</a></td>
                                <td>Jamal</td>
                                <td>Exam 2</td>
                                <td><select class="form-control">
                                    <option>Arrived</option>
                                    <option>Checked In</option>
                                    <option>In Room</option>
                                    <option>In Session</option>
                                    <option>Complete</option>
                                    <option>Not Confirmed</option>
                                </select></td>
                                <td>Farooq</td>
                                <td>Jamal</td>
                            </tr>
                            <tr class="tbl-pdng">
                                <td>1232</td>
                                <td><span class="mt-action-dot bg-green-meadow"></span></td>
                                <td>12:32</td>
                                <td>Primary Branch</td>
                                <td>Tahir</td>
                                <td>General</td>
                                <td><a href="#" class="font-blue">1/14/18 11:00 AM</a></td>
                                <td>Jamal</td>
                                <td>Exam 2</td>
                                <td><select class="form-control">
                                    <option>Arrived</option>
                                    <option>Checked In</option>
                                    <option>In Room</option>
                                    <option>In Session</option>
                                    <option>Complete</option>
                                    <option>Not Confirmed</option>
                                </select></td>
                                <td>Farooq</td>
                                <td>Jamal</td>
                            </tr>
                            <tr class="tbl-pdng off-wite-bg">
                                <td>1232</td>
                                <td><span class="mt-action-dot bg-green-meadow"></span></td>
                                <td>12:32</td>
                                <td>Primary Branch</td>
                                <td>Tahir</td>
                                <td>General</td>
                                <td><a href="#" class="font-blue">1/14/18 11:00 AM</a></td>
                                <td>Jamal</td>
                                <td>Exam 2</td>
                                <td><select class="form-control">
                                    <option>Arrived</option>
                                    <option>Checked In</option>
                                    <option>In Room</option>
                                    <option>In Session</option>
                                    <option>Complete</option>
                                    <option>Not Confirmed</option>
                                </select></td>
                                <td>Farooq</td>
                                <td>Jamal</td>
                            </tr>
                            <tr class="tbl-pdng">
                                <td>1232</td>
                                <td><span class="mt-action-dot bg-gray-meadow"></span></td>
                                <td>12:32</td>
                                <td>Primary Branch</td>
                                <td>Tahir</td>
                                <td>General</td>
                                <td><a href="#" class="font-blue">1/14/18 11:00 AM</a></td>
                                <td>Jamal</td>
                                <td>Exam 2</td>
                                <td><select class="form-control">
                                    <option>Arrived</option>
                                    <option>Checked In</option>
                                    <option>In Room</option>
                                    <option>In Session</option>
                                    <option>Complete</option>
                                    <option>Not Confirmed</option>
                                </select></td>
                                <td>Farooq</td>
                                <td>Jamal</td>
                            </tr>
                            <tr class="tbl-pdng off-wite-bg">
                                <td>1232</td>
                                <td><span class="mt-action-dot bg-green-meadow"></span></td>
                                <td>12:32</td>
                                <td>Primary Branch</td>
                                <td>Tahir</td>
                                <td>General</td>
                                <td><a href="#" class="font-blue">1/14/18 11:00 AM</a></td>
                                <td>Jamal</td>
                                <td>Exam 2</td>
                                <td><select class="form-control">
                                    <option>Arrived</option>
                                    <option>Checked In</option>
                                    <option>In Room</option>
                                    <option>In Session</option>
                                    <option>Complete</option>
                                    <option>Not Confirmed</option>
                                </select></td>
                                <td>Farooq</td>
                                <td>Jamal</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>