<div class="page-sidebar-wrapper">
    <div class="page-sidebar navbar-collapse collapse">
        <div class="menu-toggler sidebar-toggler menu-stng"><span></span></div>
        <ul class="page-sidebar-menu  page-header-fixed" data-keep-expanded="false" data-auto-scroll="true"
            data-slide-speed="200">
            <li class="sidebar-toggler-wrapper hide">
                <div class="sidebar-toggler"><span></span></div>
            </li>
            <li class="nav-item" routerLinkActive="active open">
                <a routerLink="organization" class="nav-link">
                    <i class="icon-users"></i>
                    <span class="title">Organization</span>
                </a>
            </li>
            <li class="nav-item" routerLinkActive="active open">
                <a routerLink="branch" class="nav-link">
                    <i class="icon-users"></i>
                    <span class="title">Branch</span>
                </a>
            </li>
            <li class="nav-item" routerLinkActive="active open">
                <a routerLink="department">
                    <i class="icon-users"></i>
                    <span class="title">Department</span>
                </a>
            </li>
            <li class="nav-item" routerLinkActive="active open">
                <a routerLink="staff">
                    <i class="icon-users"></i>
                    <span class="title">Staff</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link nav-toggle">
                    <i class="icon-docs"></i>
                    <span class="title">Manage ICD</span>
                </a>
                <ul class="sub-menu" style="display: none;">
                    <li class="nav-item">
                        <a routerLink="code" class="nav-link">
                            <span class="title"> Code</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a routerLink="version" class="nav-link">
                            <span class="title"> Version</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a routerLink="codeVersion" class="nav-link">
                            <span class="title">Associate Code Version</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item" routerLinkActive="active open">
                <a routerLink="medicalServices" class="nav-link">
                    <i class="icon-list"></i>
                    <span class="title">Medical Services</span>
                </a>
            </li>
            <li class="nav-item" routerLinkActive="active open">
                <a routerLink="role-permissions" class="nav-link">
                    <i class="icon-list"></i>
                    <span class="title">Roles & Permissions</span>
                </a>
            </li>
            <li class="nav-item" routerLinkActive="active open">
                <a routerLink="service-tax" class="nav-link">
                    <i class="icon-list"></i>
                    <span class="title">Service Tax</span>
                </a>
            </li>
            <li class="nav-item" routerLinkActive="active open">
                <a routerLink="email-template" class="nav-link">
                    <i class="icon-list"></i>
                    <span class="title">Email Template</span>
                </a>
            </li>
        </ul>
    </div>
</div>